.productCard {
    border: 1px solid var(--color-gray-100);
    cursor: pointer;
}

.productCard:hover {
    border: 1px solid var(--color-purple-600);
}

.productCardSmall {
    width: 250px;
}

.productCardImageContainerSmall {
    width: 100%;
    height: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCardInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.productCardInfoWrapperSmall {
    padding: 15px 16px;
}

.productCardInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCardTitle {
    color: var(--color-gray-700, #4C4C4C);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCardTitleSmall {
    font-size: 14px;
}

.productCardPrice {
    color: var(--color-gray-900);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.productCardPriceSmall {
    font-size: 16px;
}

.productCardButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--color-gray-50);
    cursor: pointer;

    transition: background-color .2s;
}

.productCardButton:hover {
    background-color: var(--color-gray-100);
}

.productCardButtonSmall {
    padding: 7px;
}

.productCardBig {
    width: 400px;
}

.productCardImageContainerBig {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCardImage {
    width: 100%;
    height: 100%;
}

.productCardInfoWrapperBig {
    padding: 25px 30px;
}

.productCardTitleBig {
    font-size: 16px;
}

.productCardPriceBig {
    font-size: 18px;
}

.productCardButtonBig {
    padding: 11px;
}

.productCardCounterWrapper {
    display: flex;
    align-items: center;
}

.productCardCounter {
    width: 40px;
}

.productCardCounter input {
    min-height: 30px;
    height: 30px;
    border-radius: unset;
    background: var(--color-gray-50);
    border: 1px solid var(--color-gray-100);
    text-align: center;
}

.productCardCounterButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-purple-500, #7B2CBF);
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.productCardCounterButtonLeft {
    border-radius: 3px 0 0 3px;
}

.productCardCounterButtonRight {
    border-radius: 0 3px 3px 0;
}
