.categoryProductsContainer {
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 40px;
}

.categoryProductsLoading {
    grid-column-start: 2;
    margin-left: 45px;
}
