.headerTop {
    padding: 25px 150px 30px 150px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--color-gray-0);
    width: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.headerLogoText {
    color: var(--color-purple-600);
    font-size: 20px;
    font-weight: 400;
}

.headerSearch {
    display: flex;
    align-items: center;
    position: relative;
}

.headerSearchInput {
    width: 310px;
}

.headerSearchButton {
    width: 40px;
    height: 100%;
    background-color: var(--color-purple-500);
    color: #FFFFFF;
    outline: unset;
    border: unset;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-icon {
    font-size: 20px;
}

.headerCart {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.headerCartIconContainer {
    position: relative;
    max-height: 30px;
}

.headerCartBadge {
    position: absolute;
    display: flex;
    padding: 3px 4px 3px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--color-gray-0);
    background: var(--color-purple-700);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color: var(--color-gray-0);
    left: 22px;
    bottom: 13px;
}

.headerCartInfoTitle {
    color: var(--color-gray-700);
    font-size: 11px;
    font-weight: 400;
    line-height: 120%;
}

.headerCartInfoMoney {
    color: var(--color-gray-900);
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 4px;
}

.headerBottom {
    height: 45px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray-0);
    width: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.headerNavigationMainButton {
    width: 180px;
    height: 50px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.15px;
}

.headerNavigationContainer {
    display: flex;
    align-items: center;
}

.headerNavigation {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 50px;
}

.headerNavigationLink {
    color: var(--color-gray-800, #333);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.15px;
    text-decoration: unset;
}

.headerContactInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.headerNavigationActiveLink {
    color: var(--color-purple-700);
}

.headerContactNumber {
    color: var(--color-gray-900, #1A1A1A);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.searchResultContainer {
    position: absolute;
    width: 350px;
    border-radius: 3px;
    border: 1px solid var(--color-gray-200);
    background: #FFFFFF;
    z-index: 4;
    top: 45px;
}

.searchResultProducts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.searchProduct {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.searchProductImage {
    width: 120px;
    height: 120px;
    padding: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.searchProductImage img {
    height: 100%;
    width: 100%;
}

.searchProductInfo {
    display: flex;
    flex-direction: column;
}

.searchProductTitle {
    color: var(--color-gray-800);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 185px;
}

.searchProductPrice {
    color: var(--color-gray-900);
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.searchProductDesc {
    overflow: hidden;
    color: var(--color-gray-700, #4C4C4C);
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
    display: -webkit-box;
    max-width: 185px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.searchResultsButton {
    width: 100%;
    height: 30px;
    border-radius: 0 0 3px 3px;
    background: var(--color-purple-400, #9D4EDD);
    color: var(--color-gray-0, #FFF);
    font-size: 13px;
    font-weight: 400;
}

.searchProductNoResults {
    color: var(--color-gray-900);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
