body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace!important;
}

input {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif!important;
}

:root {
  --color-purple-900: #10002B;
  --color-purple-800: #240046;
  --color-purple-700: #3C096C;
  --color-purple-600: #5A189A;
  --color-purple-500: #7B2CBF;
  --color-purple-400: #9D4EDD;
  --color-purple-300: #C77DFF;
  --color-purple-200: #E0AAFF;
  --color-gray-900: #191919;
  --color-gray-800: #333333;
  --color-gray-700: #4C4C4C;
  --color-gray-600: #666666;
  --color-gray-500: #808080;
  --color-gray-400: #999999;
  --color-gray-300: #B3B3B3;
  --color-gray-200: #CCCCCC;
  --color-gray-100: #E6E6E6;
  --color-gray-50: #F2F2F2;
  --color-gray-0: #FFFFFF;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: var(--color-gray-0)!important;
  opacity: 1!important;
}

.swiper-pagination-bullet-active {
  background: var(--color-purple-400)!important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

.swiper-pagination-bullets {
  bottom: 80px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.pageTitle {
  color: var(--color-gray-800, #333);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
